body {
    font-family: 'Cabin';
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.top-header,
.bottom-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.top-header {
    background: #6D91DC;
    padding: 16px 52px;
}

.bottom-header {
    background: #FFF;
    padding: 4px 52px 4px;
}

.header-navigation-menu ul {
    display: flex;
    gap: 40px;
}

.header-navigation-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-title {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 24px;
}

.sub-title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
}

.basket-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.count {
    color: #F8FDFE;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    top: 16px;
    left: 11px;
}

.right-part-top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.price-summary {
    line-height: 24px;
    font-size: 16px;
    color: #F8FDFE;
}

.main-container {
    padding: 136px 52px 121px;
    margin: 0 auto;
    background-color: #EEEEEF;
}

.order-form {
    display: flex;
    justify-content: space-between;
    margin: 56px 110px 0px;
}

.contact-details label {
    display: block;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.contact-details input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    width: 416px;
    padding: 10px;
    margin-top: 8px;
    outline: none
}

.order-form input:focus,
.order-form textarea:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.order-form textarea {
    outline: none;
    resize: none;
    width: 416px;
    height: 104px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

.order-form ::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.note-text {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-call label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
} 

.date-select {
    display: flex;
    width: 436px;
    justify-content: space-between;
    align-items: flex-end;
}

.date-select label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
} 

.right-column {
    border-radius: 4px;
    background: #F5F5F5;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    height: fit-content;
}

.menu-item {
    display: flex;
    width: 446px;
    gap: 24px;
    
}

.item-name {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid #A8A8A8;
    margin: 0;
}

.portions {
    padding-top: 3px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 0px 8px;
}

.number {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 4px 8px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    white-space: nowrap;
}

.total-sum {
    display: flex;
    width: 446px;
    justify-content: space-between;
    align-items: flex-end;
}

.total-sum span {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.checkbox-container {
    margin-bottom: 16px;
}

.custom-btn {
    width: 215px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    color: #1F1F1F;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.blue-btn {
    background: #3D76BA;
    color: #F8FDFE;
    margin-right: 16px;
}

.blue-btn:hover {
    background: #63A1EB;
}

.grey-btn {
    background: #DEDEDE;
    color: #1F1F1F;
}

.grey-btn:hover {
    background: #EEE;
}

.copyright-box {
    background: #6D91DC;
    display: flex;
    padding: 32px 52px;
    justify-content: space-between;
    align-items: flex-start;

}
.copyright-text {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


