body {
    font-family: 'Cabin';
}

.header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.top-header,
.bottom-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.top-header {
    background: #10BBD5;
    padding: 16px 52px;
}

.bottom-header {
    background: #FFF;
    padding: 4px 52px 4px;
}

.header-navigation-menu ul {
    display: flex;
    gap: 40px;
}

.header-navigation-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.basket-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.count{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    top: 12px;
    left: 20px;
}

.right-part-top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.price-summary {
    line-height: 24px;
    font-size: 16px;
    color: #F8FDFE;
}

.bestsellers{
    background: #EEEEEF;
    padding: 136px 52px 104px;
}

.bestseller-title{
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 24px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 8px;
}

.container {
    width: 306px;
    height: 512px;
    margin: 16px 0;
    box-sizing: border-box;
    background-color: #F8FDFE;
    position: relative;
    border: 1px solid #A8A8A8;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container img {
    height: 280px;
    margin: 0 auto;
}

.book-title {
    width: 242px;
    border-bottom: 1px solid #A8A8A8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.book-author {
    width: 242px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.price{
    display: inline-block;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 8px 24px 0 0;
}

.changed{
    display: inline-block;
    color: #8E8E8E;
    text-decoration: line-through;
}

.add-button{
    border: none;
    border-radius: 4px;
    background: #4C394E;
    padding: 8px 24px;
    align-self: stretch;
    color:#F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.end-up-btn{
    background: #4D762D;
}

.chips-container {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 2;
}

.chips {
    border-radius: 4px;
    display: inline-block;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.new {
    background-color: #AF39E7;
}

.off {
    background-color: #EA33C0;
}

.hit {
    background-color: #4200FF;
}

.chat-btn{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: fixed;
    top: 696px;
    right: 28px;
} 

.copyright-box {
    background: #4C394E;
    display: flex;
    padding: 32px 52px;
    justify-content: space-between;
    align-items: flex-start;

}
.copyright-text{
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}