body {
    font-family: 'Quicksand', sans-serif;
}

/*Header*/

.header {
    box-sizing: border-box;
    margin: 16px 8px;
    display: flex;
    justify-content: space-between;
}

.header__left-wrapper {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 32px;
}

.header__burger {
    display: flex;
    padding: 10px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    border-radius: 4px;
    background: #0F8277;
    border: none;
}

.header__burger-line {
    width: 26px;
    height: 2px;
    border-radius: 100px;
    background: #EEE;
}

.header__right-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header a {
    text-decoration: none;
}

.header__logo {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
    white-space: nowrap;
}

.header__explore {
    display: none;
}

.header-menu {
    display: none;
}

.search-btn-2,
.searches {
    display: none;
}

.btn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    border: none;
}

.dark-btn {
    background: #0F8277;
    color: #EEE;
}

.light-btn {
    background: none;
    color: #0F8277;
}

/*Main*/

.wrapper {
    padding: 0 8px;
    min-width: 300px;
    margin: 0 auto 64px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.billboard-banner {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #DBF3ED;
    padding: 118px 16px;
    gap: 32px;
    margin: 0 8px 64px 8px;
}

.billboard-banner__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.billboard-banner__title {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    line-height: 120%;
}

.billboard-banner__text {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.billboard-banner__button-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
}

.billboard-banner__dark-btn {
    background: #0F8277;
    color: #EEE;
}

.billboard-banner__light-btn {
    background: none;
    color: #0F8277;
    border: 2px solid #0F8277;
}

.heading-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.academic-training {
    margin-top: 64px;
}

.academic-training__green-title {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.academic-training__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.academic-training__cards-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.academic-training__card {
    border-radius: 4px;
    border: 1px solid grey;
    width: fit-content;
    overflow: hidden;
    max-width: 428px;
}

.academic-training__card-copy {
    border-radius: 4px;
    border: 1px solid grey;
    width: fit-content;
    overflow: hidden;
    max-width: 428px;
}

.academic-training__card img {
    max-width: 100%;
    height: auto;
}

.academic-training__card-copy img {
    max-width: 100%;
    height: auto;
}

.academic-training__card-text {
    padding: 24px 16px;
}

.academic-training__card-text-copy {
    padding: 24px 16px;
}

.academic-training__card-text-school-name {
    width: calc(100% - 16px);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.school-name3.academic-training__card-text-school-name::before {
    content: url("../img/logo-prjctr.svg");
    width: 72px;
    height: 20px;
    margin-right: 12px;
}

.school-name2.academic-training__card-text-school-name::before {
    content: url("../img/eu_logo.svg");
    width: 72px;
    height: 20px;
    margin-right: 12px;
}

.school-name1.academic-training__card-text-school-name::before {
    content: url("../img/dan-logo1.svg");
    width: 72px;
    height: 20px;
    margin-right: 12px;
}

.text-highlighted {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 16px;
}

.text-action {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 32px;
    padding-left: 30px;
    position: relative;
}

.text-action-copy {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 32px;
    position: relative;
}

.text-action::before {
    content: url("../img/hat.svg");
    position: absolute;
    display: inline-block;
    color: #0F8277;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.academic-training__card-text-copy img {
    width: 72px;
    height: 20px;
    margin-bottom: 12px;
}

.more-courses {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin-top: 32px;
}

.more-courses::after {
    content: url("../img/arrow.svg");
    width: 20px;
    height: 20px;
}

.categories__container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.categories__content {
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categories__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 32px;
}

.categories__course-name {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.cooperation {
    padding: 64px 8px;
    background: #DBF3ED;
}

.categories__students-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.cooperation h2 {
    text-align: center;
}

.cooperation__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    margin-top: 32px;
}

.cooperation__1 {
    width: 118px;
    height: 24px;

}

.cooperation__2 {
    width: 62px;
    height: 22px;
    padding: 10px;
}

.cooperation__3 {
    width: 46px;
    height: 16px;
    padding: 10px;
}

.cooperation__4 {
    width: 33px;
    height: 33px;
}

.cooperation__5 {
    width: 36px;
    height: 14px;
}

.cooperation__6 {
    width: 75px;
    height: 24px;
}

.cooperation__7 {
    width: 92px;
    height: 25px;
}

.cooperation__8 {
    width: 91px;
    height: 19px;
}

.buisness-section {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.buisness-section__title {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.buisness-section__button {
    display: block;
    padding: 12px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
}

.buisness-section__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.buisness-section__container {
    display: grid;
    grid-template-columns: 116px 116px 116px;
    grid-template-rows: 66px 66px 66px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.buisness-section__container div {
    width: 96px;
    height: 46px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buisness-section__img1 {
    width: 88px;
    height: 16px;
    padding: 10px;
}

.buisness-section__img2 {
    width: 35px;
    height: 33px;
    padding: 10px;
}

.buisness-section__img3 {
    width: 62px;
    height: 46px;
    padding: 10px;
}

.buisness-section__img4 {
    width: 77px;
    height: 24px;
    padding: 10px;
}

.buisness-section__img5 {
    width: 35px;
    height: 30px;
    padding: 10px;
}

.buisness-section__img6 {
    width: 86px;
    height: 25px;
    padding: 10px;
}

.buisness-section__img7 {
    width: 77px;
    height: 18px;
    padding: 10px;
}

.buisness-section__img8 {
    width: 33px;
    height: 33px;
}

.buisness-section__img9 {
    width: 86px;
    height: 16px;
    padding: 10px;
}

.buisness-section__1 {
    border-right: 1px solid #BABABA;
}

.buisness-section__2 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.buisness-section__3 {
    border-bottom: 1px solid #BABABA;
}

.buisness-section__4 {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.buisness-section__5 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.buisness-section__6 {
    border-bottom: 1px solid #BABABA;
}

.buisness-section__7 {
    border-right: 1px solid #BABABA;
}

.buisness-section__8 {
    border-right: 1px solid #BABABA;
}


.career-plan {
    background: #DBF3ED;
    padding: 64px 8px 80px 8px;
}

.career-plan h2 {
    text-align: center;
}

.career-plan__container {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    gap: 32px;
}

.career-plan__training {
    padding: 32px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.career-plan__year {
    padding: 32px;
    background: white;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.career-plan__month {
    padding: 32px;
    background: #0F8277;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.career-plan__above {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 31px;
    border-bottom: 2px solid #0F8277;
}

.career-plan__above.month {
    border-bottom: 2px solid white;
}

.career-plan__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.career-plan__title.month {
    color: white;
}

.career-plan__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.career-plan__price-period.month,
.career-plan__price.month,
.career-plan__description.month {
    color: white;
}

.career-plan__price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.career-plan__price {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.career-plan__price-period {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.career-plan__button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    gap: 6px;
    border-radius: 4px;
}

.career-plan__button.month {
    border: 2px solid #FFF;
}

.career-plan__under {
    padding-top: 31px;
}

.career-plan__list {
    list-style-type: none;
}

.career-plan__list li {
    display: flex;
    gap: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    position: relative;
    margin-left: 28px;
}

.career-plan__list.month li {
    color: white;
    margin-bottom: 16px;
}

.career-plan__list li::before {
    content: url("../img/check-mark-white.svg");
    border-radius: 100px;
    background: #0F8277;
    min-width: 16px;
    min-height: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4ch;
}

.career-plan__list.month li::before {
    content: url("../img/check-mark-dark.svg");
    border-radius: 100px;
    background: white;
}



.students {
    padding-top: 64px;
    padding-bottom: 64px;
}

.students__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 116px);
    grid-gap: 24px;
    justify-content: center;
}

.students h2 {
    margin-bottom: 32px;
    text-align: center;
}

.students__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.students__photos-4div {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.academic-training__card-text-copy img {
    width: 72px;
    height: 20px;
    margin-bottom: 12px;
}

.form {
    background-color: #DBF3ED;
    padding: 64px 8px 64px 8px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 24px;
}

.form__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.form__contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__contact-info label {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px
}

.form__contact-info input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
}

.form__contact-info textarea {
    height: 104px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

input::placeholder,
textarea::placeholder{
    color: #8E8E8E;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

}

.form__button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
}

/*Footer*/

.footer {
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
}

.footer__text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.footer__social-net-icons img {
    width: 24px;
    height: 24px;
}

.footer__right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__social-net-icons {
    display: flex;
    gap: 24px;
}

.footer__left-wrapper h2 {
    margin-top: 0;
}

.footer__copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

@media screen and (min-device-width: 768px) {

    .header {
        margin: 12px 16px;
    }

    .header__left-wrapper {
        gap: 32px;
    }

    .header__logo {
        font-size: 32px;
        letter-spacing: 0.64px;
    }

    .searches {
        display: none;
    }

    .search-btn-2 {
        height: 36px;
        width: 36px;
        border: 1px solid #5C5C5C;
        border-radius: 4px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background: #0F8277;
    }

    .wrapper {
        margin: 0 12px 64px;
        padding: 0;
        gap: 80px;
    }

    .billboard-banner {
        align-items: flex-start;
        padding: 104px 64px;
        background-image: url("../img/hero-img.png");
        background-size: 332px;
        background-repeat: no-repeat;
        margin: 0 12px 64px 12px;
        background-position: 95%;
        position: relative;
    }

    .billboard-banner__content {
        width: 380px;
    }

    .btn {
        font-size: 16px;
    }

    .billboard-banner__button-menu {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: stretch;
    }

    .heading-container {
        margin-bottom: 40px;
    }

    .academic-training {
        margin-bottom: 64px;
    }

    .academic-training__cards-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: stretch;
    }

    .academic-training__card {
        border-radius: 4px;
        border: 1px solid grey;
        width: fit-content;
        overflow: hidden;
    }

    .academic-training__card img {
        height: 180px;
        width: auto;
    }

    .academic-training__card-copy img {
        height: 180px;
        width: auto;
    }

    .academic-training__card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 16px;
        width: 220px;
        height: 142px;
    }

    .academic-training__card-text-copy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 16px;
        width: 155px;
        height: 172px;
    }

    .text-action-copy,
    .text-action {
        margin-top: 0;
    }

    .academic-training__card-copy img {
        width: 400px;
        height: auto;
    }

    .more-courses {
        margin-top: 44px;
    }

    .academic-training__card-text-copy img {
        width: 72px;
        height: 20px;
        margin-bottom: 12px;
    }

    .categories__container {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .categories__content {
        gap: 32px;
    }

    .categories__name {
        margin-top: 40px;
    }

    .cooperation__logo {
        justify-content: center;
        margin-top: 40px;
    }

    .buisness-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        margin-top: 64px;
    }

    .buisness-section__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .buisness-section__button {
        padding: 12px;
    }

    .career-plan {
        background: #DBF3ED;
        padding: 64px 12px 80px 12px;
    }

    .career-plan__container {
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;
    }

    .career-plan__training {
        width: 232px;
    }

    .career-plan__year {
        width: 232px;
    }

    .career-plan__month {
        width: 232px;
    }


    .students__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 24px;
    }

    .students__photos-4div {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .students__photos-9div {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .form {
        padding-left: 12px;
        padding-right: 12px;
    }

    .form__button {
        width: 186px;
    }

    /*Footer*/

    .footer {
        padding: 32px 12px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__left-wrapper {
        width: 306px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__right-wrapper {
        width: 306px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer__text {
        text-align: left;
    }

    .footer__copyright {
        text-align: right;
    }

}

@media screen and (min-device-width: 1368px) {

    .header {
        margin: 30px 36px 32px;
    }

    .header__left-wrapper {
        gap: 44px;
    }

    .header__burger {
        display: none;
    }

    .header__logo {
        font-size: 32px;
        letter-spacing: 0.64px;
    }
    .header__explore {
        display: flex;
        gap: 8px;
        padding: 10px 12px;
        background-color: #0F8277;
        /*padding-right: 8px;*/
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        position: relative;
        border-radius: 4px;
    }

    .searches {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
        overflow: hidden;
        padding-left: 0;
    }

    .search-line {
        width: 330px;
        display: inline-block;
    }

    .search-text {
        color: #5C5C5C;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        padding-left: 12px;
    }

    .search-btn{
        border: none;
        border-left: 1px solid #5C5C5C;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background: #0F8277;
    }

    .header__explore::after {
        content: url("../img/Frame1.svg");
        width: 8px;
        height: 14px;
    }

    .header-menu {
        display: block;
        margin-right: 88px;
    }

    .header__menu-list {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .header__menu-list li {
        list-style-type: none;
    }

    .header__menu-list a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .search-btn-2 {
        display: none;
    }

    .wrapper {
        margin: 80px 36px 80px;
        padding: 0;
        gap: 80px;
    }

    .billboard-banner {
        align-items: flex-start;
        padding: 170px 110px;
        background-image: url("../img/hero-img.png");
        background-size: 533px;
        background-repeat: no-repeat;
        background-position: 90%;
        position: relative;
        margin: 0 36px 64px 36px;
    }

    .billboard-banner__content {
        width: 512px;
    }

    .btn {
        font-size: 16px;
    }
    .billboard-banner__title {
        font-size: 56px;
    }

    .billboard-banner__text {
        font-size: 22px;
    }

    .billboard-banner__button-menu {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: stretch;
    }

    .academic-training {
        margin-top: 80px;
    }

    .academic-training__green-title {
        font-size: 20px;
    }

    .academic-training__description {
        font-size: 20px;
    }

    .academic-training__card {
        border-radius: 4px;
        border: 1px solid grey;
    }

    .academic-training__card-text-copy {
        width: 290px;
        height: 185px;
    }

    .academic-training__card img {
        width: 100%;
        height: 278px;
    }

    .academic-training__card-copy img {
        width: 400px;
        height: auto;
    }

    .academic-training__card-text-school-name {
        font-size: 16px;
        width: 100%;
    }

    .academic-training__card-text {
        width: 390px;
        height: 165px;
    }

    .academic-training__card-text-copy {
        width: 290px;
        height: 185px;
    }

    .text-highlighted {
        font-size: 24px;
        margin-top: 16px;
    }

    .text-action-copy,
    .text-action {
        font-size: 16px;
    }

    .academic-training__card-text-copy img {
        width: 72px;
        height: 20px;
        margin-bottom: 12px;
    }

    .title {
        font-size: 40px;
    }

    .academic-training__card-copy {
        max-width: 390px;
    }

    .categories__content {
        width: 306px;
    }

    .categories__name {
        font-size: 24px;
    }

    .categories__course-name {
        font-size: 20px;
    }

    .categories__students-number {
        font-size: 16px;
    }

    .cooperation h2 {
        width: 870px;
        text-align: center;
    }

    .cooperation {
        padding: 80px 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-bottom: 80px;
    }

    .cooperation__1 {
        width: 178px;
        height: 36px;
    }

    .cooperation__2 {
        width: 122px;
        height: 42px;
        padding: 10px;
    }

    .cooperation__3 {
        width: 106px;
        height: 36px;
        padding: 10px;
    }

    .cooperation__4 {
        width: 63px;
        height: 63px;
    }

    .cooperation__5 {
        width: 97px;
        height: 39px;
    }

    .cooperation__6 {
        width: 135px;
        height: 44px;
    }

    .cooperation__7 {
        width: 152px;
        height: 40px;
    }

    .cooperation__8 {
        width: 151px;
        height: 32px;
    }

    .cooperation__logo {
        justify-content: space-between;
        width: 1300px;
    }

    .buisness-section {
        gap: 72px;
        margin-top: 80px;
    }

    .buisness-section__container {
        grid-template-columns: 196px 196px 196px;
        grid-template-rows: 136px 136px 136px;
    }

    .buisness-section__container div {
        width: 176px;
        height: 116px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buisness-section__description {
        font-size: 22px;
    }

    .buisness-section__button {
        font-size: 16px;
    }

    .buisness-section__title {
        width: 636px;
    }

    .buisness-section__title h2 {
        width: 100%;
    }


    .career-plan__above {
        height: 310px;
    }

    .career-plan {
        padding: 80px 36px 100px 36px;
    }

    .career-plan__title {
        font-size: 24px;
    }

    .career-plan__training {
        padding: 56px;
        width: 416px;
    }

    .career-plan__year {
        padding: 56px;
        width: 416px;
    }

    .career-plan__month {
        padding: 56px;
        width: 416px;
    }

    .career-plan__description {
        font-size: 16px;
    }

    .career-plan__price {
        font-size: 40px;
    }

    .career-plan__price-period {
        font-size: 16px;
    }

    .career-plan__button {
        font-size: 18px;
    }

    .career-plan__list li {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .students h2 {
        margin-bottom: 40px;
    }

    .students__container {
        grid-template-rows: repeat(3, 210px);
    }

    .form {
        padding: 80px 256px;
    }

    .form__description {
        font-size: 20px;
    }

    .form__contact-info label {
        font-size: 22px;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 16px;
    }

    .form__button {
        font-size: 18px;
    }

    /*Footer*/

    .footer {
        /*margin: 0 auto;*/
        padding: 64px 36px;
        max-width: 1368px;
    }

    .footer__social-net-icons img {
        width: 32px;
        height: 32px;
    }

    .footer__title {
        font-size: 32px;
        letter-spacing: 0.64px;
    }

    .footer__text {
        font-size: 16px;
        text-align: left;
    }

    .footer__copyright {
        font-size: 16px;
    }
}