body {
    font-family: 'Urbanist', sans-serif;
}

.wrapper {
    padding: 0 8px; 
    min-width: 360px;
    margin: 0 auto;
}

header {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 0px;
    gap: 24px;
}

.left-side img {
    width: 103px;
    height: 29px;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 16px;
    position: relative;
    background-color: #006CE5;
    gap: 4px;
    border: none;
}

.burger-line {
    width: 16px;
    height: 1px;
    background-color: #FFF;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

.live-img {
    width: 29px;
    height: 29px;
    padding-left: 8px;
    border-left: 1px solid #D4D4D4;
}

.live {
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
}

.menu {
    display: none;
}

.news-section {
    width: 359px;
    margin: 0 auto;
}

.first-news-picture {
    width: 100%;
}

.sub-header {
    display: block;
    color: #1A1B1B;
    font-size: 17px;
    line-height: 125%;
    text-align: left;
    margin-top: 44px;
}

.big-header {
    color: #1A1B1B;
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid #D4D4D4;
    margin-top: 12px;
}

.three-news-container {
    display: flex;
    flex-direction: column;
}

.first-picture {
    height: 416px;
    background-image: url("../img/police.png");
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.country-tag.over-pict {
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: white;
}

.first-news-title {
    color: #1A1B1B;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
    margin-top: 16px;
}

.country-tag {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.article-title {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 24px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 24px;
}

.trio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trio img {
    width: 359px;
    height: 166px;
    position: relative;
}

.other-news-title {
    color: #1A1B1B;
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
}

.other-news {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.test {
    display: flex;
    flex-direction: column;
}

.other-news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-news-item img {
    width: 359px;
    height: 166px;
}

.news-texts {
    max-width: 359px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.topic-tag {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    padding: 6px 20px 6px 0px;
    margin-top: 12px;
}

.article-date{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}

.article-title-2 {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.article-description {
    color: #1A1B1B;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
}

.position {
    position: relative;


    display: block;
    height: max-content;
}

.position::after {
    content: url(../img/play.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.pages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.pages-list li {
    list-style-type: none;
    display: inline-block;
}

.pages-list a {
    text-decoration: none;
    color: #1A1B1B;
}

.pages {
    width: 17px;
    height: 17px;
    text-align: center;
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #D4D4D4;
}

.next-page a {
    text-decoration: none;
    color: #1A1B1B;
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-next-page{
   display: none;
}  

.pages.color a {
    color: #006CE5;
}

.search-section {
    background: #EEF2F3;
    padding-top: 44px;
    padding-bottom: 44px;
    border-top: 3px solid #D4D4D4;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    width: 16px;
    height: 16px;
    padding: 10px;
    background-color: #006CE5;
}

.search-input {
    width: 270px;
    background: #DCE4E7;
    padding: 10px;
}

.search-placeholder {
    color: #919191;
    width: 316px;
    font-size: 14px;
    line-height: 110%;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 16px;
}

.tags-text {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}

.today-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    max-width: 526px;
}

.today-tags li {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    background-color: #FFF;
    border-radius: 18px;
    list-style-type: none;
}

.today-tags a {
    text-decoration: none;
    color: #1A1B1B;
}

footer img {
    width: 154px;
    height: 42px;
}

.footer-text {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 24px;
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

@media screen and (min-device-width: 768px) {

    .sub-header {
        font-size: 22px;
    }

    .big-header {
        font-size: 62px;
        margin-top: 4px;
    }

    .first-news-title {
        font-size: 28px;
    }

    .news-section {
        width: 744px;
    }

    .first-news-picture {
        max-width: 744px;
        width: 744px;
        margin: 0 auto;
    }

    .three-news-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .trio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        padding-top: 16px;
        border-top: 1px solid #D4D4D4;
    }

    .three-news-container :first-child {
        padding-top: 0px;
        border-top: none;
    }

    .trio img {
        width: 296px;
        height: 166px;
        position: relative;
    }

    .news-texts {
        max-width: 424px;
    }

    .article-title {
        color: #1A1B1B;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0px;
    }

    .other-news {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .other-news-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .other-news-item img {
        width: 296px;
        height: 166px;
    }

    .other-news-title {
        padding-bottom: 32px;
        padding-top: 32px;
        border-top: 1px solid #D4D4D4;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .topic-tag {
        padding: 6px 20px 6px 0px;
        margin-top: 0px;
    }

    .text-next-page{
        display: block;
        color: #006CE5;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        margin: 0;
    }

    footer img {
        width: 196px;
        height: 54px;
    }
}

@media screen and (min-device-width: 1368px) {

    .wrapper {
        padding: 0 36px;
    }

    .first-container {
        display: flex;
        gap: 24px;
        padding-top: 32px;
    }

    .first-picture{
        width: 746px;
        height: 418px;
    }

    .sub-header {
        padding-top: 48px;
        margin-top: 0px;
    }

    .three-news-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .trio {
        padding-top: 32px;
        border-top: 1px solid #D4D4D4;
    }

    .trio img {
        width: 196px;
        height: 110px;
        position: relative;
    }

    .menu-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 36px;
    }

    .news-section {
        width: 1296px;
    }

    .news-texts {
        max-width: 526px;
    }

    .first-news-title {
        font-size: 28px;
        padding-bottom: 56px;
        margin-bottom: 0;
    }

    .news-section {
        padding-top: 56px;
        border-top: 1px solid #D4D4D4;
    }

    .other-news-title {
        padding-bottom: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        border-top: none;
    }

    .first-news-picture {
        min-width: 1296px;
        margin: 0 auto;
    }

    .header-container {
        display: flex;
        align-items: center;
        padding: 14px 36px 14px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .burger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu li {
        list-style-type: none;
    }

    .menu a {
        text-decoration: none;
        color: #1A1B1B;
    }

    .menu-items {
        color: #1A1B1B;
        font-size: 16px;
        font-weight: 600;
    }

    .other-news-item img {
        width: 306px;
        height: 172px;
    }

    .left-side img {
        width: 114px;
        height: 32px;
    }

    .right-side{
        padding-right: 0px;
    }

    .search-section {
        padding-top: 48px;
        padding-bottom: 40px;
    }

}