body {
    font-family: 'Cabin', sans-serif;
    background: #c2d0dc;
}

main {
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text-container {
    width: 50%;
    height: 300px;
    border: 1px solid #050505;
    text-align: center;
    line-height: 300px;
}

.timer {
    color: #050505;
    font-size: 18px;
    text-align: center;
}

.button {
    padding: 18px 22px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border: #425DF8;
    background: #425DF8;
    color: #F6FDFF;
}
