body {
    background: #F5F7F9;
}

.header-logo {
    background-color: #F5F7F9;
    border-radius: 40%;
    border: 0.5rem solid #F5F7F9;
    box-sizing: border-box;
}

.header-navigation-menu a {
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
}

.header-navigation-menu a.active {
    color: #425DF8;
    font-weight: 500;
    cursor: default;
}

.button {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    color: #0E0F13;
    text-align: center;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.btn-special {
    border: #425DF8;
    background: #425DF8;
    color: #F6FDFF;
}

.plan-heading {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.footnote {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.plan {
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    height: 789px;
    padding: 56px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.recommended {
    border: 1px solid #161A34;
    background: #161A34;
    color: #F6FDFF;
    height: 817px;
}

ul.list li {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    width: 264px;
}

.plan-title h3 {
    color: #0E0F15;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 27px;
}

.plan-title p {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 27px;
}

.price p {
    margin: 0;
    display: flex;
    align-items: center;
    color: #0E0F15;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.price span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.recommended-color p,
.recommended-color h3,
.list.recommended-color li {
    color: #F6FDFF;
}

.get-started{
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    display: block;
    margin: 0 auto;
}

.copyright-box {
    border-top: 1px solid #0E0F13;
    display: flex;
    padding: 16px 52px;
    justify-content: space-between;
    align-items: flex-start;

}

.copyright-text {
    color: #7F828A;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}