body {
    font-family: 'Cabin', sans-serif;
    background: #F5F7F9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 52px 0;
}

.header-navigation-menu ul {
    display: flex;
    gap: 56px;
    align-items: center;
    list-style-type: none;
}

.header-navigation-menu a {
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
}

.header-navigation-menu a.active {
    color: #425DF8;
    font-weight: 500;
    cursor: default;
}

.auth-button {
    display: flex;
    gap: 10px;
}

.button {
    padding: 18px 22px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.btn-special {
    border: #425DF8;
    background: #425DF8;
    color: #F6FDFF;
}

.select-plan {
    padding: 145px 0 196px 0;
}

a.Get-Started {
    display: block;
}

.frame {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.plan-heading {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.footnote {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.plan {
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    height: 789px;
    padding: 56px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.recommended {
    border: 1px solid #161A34;
    background: #161A34;
    color: #F6FDFF;
    height: 817px;
}

.advantages {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 22px;
}

ul.list li {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    width: 264px;
}

.plan-title {
    text-align: center;
    width: 304px;
}

.plan-title h3 {
    color: #0E0F15;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 27px;
}

.plan-title p {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 27px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
    gap: 16px;
}

.price p {
    margin: 0;
    display: flex;
    align-items: center;
    color: #0E0F15;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.price span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.recommended-color p,
.recommended-color h3,
.list.recommended-color li {
    color: #F6FDFF;
}

.get-started{
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.price span {
    font-size: 16px;
    margin-left: 5px;
}

.copyright-box {
    border-top: 1px solid #0E0F13;
    display: flex;
    padding: 16px 52px;
    justify-content: space-between;
    align-items: flex-start;

}

.copyright-text {
    color: #7F828A;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}